.avatarOnline:after
  content '\2022'
  font-size 30px
  color onlineColor
  position absolute
  bottom -18px
  right 3px
  display none
.sidebar__dialogChoice__avatar
  position relative
.contentDialog__avatar
  position relative