.contentFriend__navigator__massege
  padding-left 90px
  +responsive(xxs)
    padding-left 60px
  a
    color #f3ba00
    &:hover
      color #f3ba00
      font-weight bold
    &:after
      content ' сообщение'
      +responsive(xxs)
        content '' 