.contentFriend__avatar
  background lightColor
  border-radius 100px
  position absolute
  top 25px
  left 25px
  border 1px solid lightColor
  img
    width 70px
    height 70px
    border-radius 100px