.error
  color errorColor
  font-size 13px
  margin 5px
  font-weight bold
  +responsive(xxs)
    font-size 12px
.info
  color onlineColor
  font-size 13px
  margin 5px
  font-weight bold
  +responsive(xxs)
    font-size 12px
#formLogin__error, #errorNewPassword, #errorEmailCode, #errorEmail, #regEmailCode, #repeatEmail, #saveSurname, #saveName, #newSurname, #newName, #cancelPassword, #cancelEmail, #cancelPhone, #cancelURL, #novelPassword, #novelEmail, #novelEmailCode, #novelPhone, #novelPhoneCode, #novelURL, #yesPassword, #yesEmail, #yesPhone, #yesURL, #errorOldPassword, #errorPhone, #repeatEmail, #repeatPhone, #errorEmail, #errorEmailCode, #errorURL, #errorPhoneCode, #errorLowLength, #navMessage, #navConference, #navFriend, #navQuest
  display none
#newSurname
  margin-top 0
  margin-bottom 10px
#newName
  margin-top 0
#repeatEmail, #repeatPhone
  padding-left 20px
  text-decoration underline
  color onlineColor
  cursor pointer