.formLogin__top_0
  margin-left -30px
  background accentColor
  text-align center
  box-shadow 0 0 0.5px baseColor
  +responsive(md)
    margin-left -25px
  +responsive(sm)
    margin-left -20px
  +responsive(xs)
    background-color inherit
    margin-left 0
    div
      a
        color accentColor
    .formLogin__socialLink
      color accentColor
    .fa.fa-vk
      color accentColor
    .formLogin__label
      color accentColor
    .formLogin__submit
      background accentColor
      color baseColor
  .formLogin__submit
    margin 15px 0
  .formLogin__socialLink 
    padding 0
