.contentTuning__novel
  line-height 2
  +responsive(xxs)
    line-height 1.5
#novelPassword
  display none
#novelEmail
  display none
#novelEmailCode
  display none
#novelPhone
  display none
#novelPhoneCode
  display none
#novelURL
  display none