.contentDialog__contentYou
  +responsive(xs)
    background-color rgba(243, 186, 0, 0.2)
    margin-left 17%
    border-radius 0 10px 10px 10px
    margin-right 10px
  +responsive(xxs)
    margin-left 15%