button
  font-weight bold
  border none
  border-radius 5px
  padding 8px
  width 95px
  margin-top 20px
.button_color_accent
  background accentColor
  box-shadow 0 0 0.5px accentColor
  color lightColor
  &:hover, &:focus, &:active
    color accentColor
    background lightColor
.button_color_theme
  background themeColor
  box-shadow 0 0 0.5px themeColor
  color lightColor
  &:hover, &:focus, &:active
    color themeColor
    background lightColor
.button_color_light
  background lightColor
  box-shadow 0 0 0.5px themeColor
  color themeColor
  &:hover, &:focus, &:active
    color lightColor
    background themeColor
