.contentFriend__name
  position absolute
  font-weight bold
  color lightColor
  top 100px
  left 35px
  font-size 16px
  font-style italic
  text-shadow baseColor 1px 0px, baseColor 1px 1px, baseColor 0px 1px, baseColor -1px 1px, baseColor -1px 0px, baseColor -1px -1px, baseColor 0px -1px, baseColor 1px -1px  