.avatarOnline:after
  content '\2022'
  font-size 40px
  color onlineColor
  position absolute
  bottom -20px
  right 3px
.sidebar__dialogChoice__avatar
  position relative
.contentDialog__avatar
  position relative