.contentDialog__nav
  box-shadow 1px 2px 5px baseColor
  background accentColor
  font-size 14px
  position absolute
  right 30px
  top 50px
  z-index 1
  display none
  ul
    list-style-type none
    margin-bottom 0
    li
      margin-left -40px
      padding 7px
      &:hover
        background #bbced6
      img
        width 15px
        margin-right 5px
        margin-bottom 5px
        float left
      a
        text-decoration none