extends ../layouts/layout_02.pug

block site__content
  .contentQuest
    .contentQuest__circle
      .contentQuest_found
        .contentQuest__tit Собеседник выбран
        .contentQuest__avatarX
          img(src='assets/img/nav/1_nav.png')
        button.contentQuest__buttonStart Начать переписку
      button.contentQuest__buttonQuest Выбрать собеседника
      .contentQuest_avatarxxxWrap
        .contentQuest_avatarxxx#x0
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x1
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x2
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x3
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x4
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x5
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x6
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x7
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x8
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x9
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x10
          img(src='assets/img/nav/1_nav.png')
        .contentQuest_avatarxxx#x11
          img(src='assets/img/nav/1_nav.png')

block sidebar