.contentProfile__avatar
  top 0
  left 0
  bottom 0
  right 0
  border-radius 2px
  cursor pointer
  z-index 1
.contentProfile__avatarCover
  position relative
  width 100%
  max-width 200px

  +responsive(xs)
    width 20vw
    left 35vw
  +responsive(xxs)
    width 40vw
    left 20vw