select
  color baseColor
  border themeColor
  background lightColor
  border-radius 5px
  padding 8px
  box-shadow 0 0 0.5px accentColor
  cursor pointer
  border-radius: 5px
  width 100%
  -moz-appearance none
  -webkit-appearance none
  appearance none
select::-ms-expand
  display none