.contentQuest__circle
  width 50vmin
  min-width 160px
  height 50vmin
  min-height 160px
  border 1px solid baseColor
  border-radius 50%
  box-shadow: 0 0 10px
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%