.contentQuest
  background accentColor
  margin-left 15px
  margin-right 15px
  width cals(100%-30px)
  height 100%
.contentQuest__circle
  width 50vmin
  min-width 160px
  height 50vmin
  min-height 160px
  border 1px solid baseColor
  border-radius 50%
  box-shadow: 0 0 10px
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
.contentQuest__tit
  display none
  transform translate(-50%, -50%)
  position absolute
  top 20%
  left 50%
  font-size 15px
  font-weight bold
  text-align center
  +responsive(xs)
    opacity 0
.contentQuest__avatarX
  display none
  float left
  background lightColor
  border-radius 100px
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
  +responsive(xs)
    top 30%
  +responsive(xxs)
    opacity 0
  img
    width 15vmin
    min-width 48px
    height 15vmin
    min-height 48px
    padding 15px
    border-radius 100px
.contentQuest__buttonStart
  display none
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 80%
  left 50%
  background lightColor
  border none
  padding-right 15px
  padding-left 15px
  padding-top 5px
  padding-bottom 5px
  border-radius 5px
  +responsive(xs)
    top 70%
  +responsive(xxs)
    top 50%
.contentQuest__buttonStart:hover
  font-weight bold
.contentQuest__buttonQuest
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
  background lightColor
  border none
  padding-right 15px
  padding-left 15px
  padding-top 5px
  padding-bottom 5px
  border-radius 5px
.contentQuest__buttonQuest:hover
  font-weight bold
.contentQuest_avatarxxx
  float left
  background lightColor
  border-radius 100px
  position absolute
  img
    width 9vmin
    height 9vmin
    padding 5px
    border-radius 100px
.contentQuest_avatarxxxWrap
  position relative
  