.header__logo
  float left
  margin-left 6.5%
  +responsive(xxs)
    margin-left 3%
  a
    &:focus
      outline 0
    &:hover
      text-decoration none
    img
      width auto
      height 45px
      z-index 1
      +responsive(xxs)
        height 40px