.contentProfile__newFotoHide
  position absolute
  z-index 2
  top -15px
  right 0
  font-size 30px
  color lightColor
  cursor pointer
  text-shadow baseColor 1px 0px, baseColor 1px 1px, baseColor 0px 1px, baseColor -1px 1px, baseColor -1px 0px, baseColor -1px -1px, baseColor 0px -1px, baseColor 1px -1px
  display none