.buttonNavigator
  position fixed
  top 49%
  font-size 50px
  color #f3ba00
  display none
  z-index 1
  cursor pointer
  left -50px
  transition-property left
  transition-duration 0.6s
  +responsive(xs)
    display inherit
    left 0