.buttonSidebar
  position fixed
  top 49%
  font-size 50px
  color #f3ba00
  display none
  z-index 1
  cursor pointer
  right 0
  transition-property right
  transition-duration 0.6s
  +responsive(sm)
    display inherit