.contentProfile__info
  margin-top 17px
  margin-left -50px
  +responsive(md)
    margin-left -25px
  +responsive(xs)
    margin-top 10px
  +responsive(xxs)
    margin-top 5px
    margin-right -66%
    text-align center