.contentTuning__cancel
  text-align right
  color errorColor
  text-decoration underline
  font-style italic
  cursor pointer
  &:hover, &:focus, &:active
    color errorColor
    text-decoration underline
    font-style italic
    font-weight bold
+responsive(xs)
  text-align left