.contentIndex__tit_font-size_24px
  display: block;
  font-size 24px
  margin-bottom 10px
  margin-left 0
  margin-right 0
  font-weight 500
  +responsive(md)
    font-size 22px
  +responsive(xxs)
    font-size 20px
    margin-top  10px
.contentIndex__tit_font-size_18px
  display: block;
  font-size 18px
  margin-top 10px
  margin-bottom 10px
  margin-left 0
  margin-right 0
  font-weight 500
  +responsive(md)
    font-size 16px
  +responsive(xxs)
    font-size 14px
    margin-top 0