.contentTuning__oldParameter
  width 100%
  +responsive(xxs)
    font-size 12px
.contentTuning__select
  +responsive(xxs)
    padding-right 0 !important
    padding-left 0 !important
    font-size 12px
.contentTuning__tit
  text-align center
  font-weight bold