.contentDialog
    .contentDialog__header
      .contentDialog__avatar
        a(href='#')
          img(src='assets/img/nav/1_nav.png')
        .avatarOnline
      .contentDialog__name_padding-left_69
        a(href='#') Варвара Иванова
        span.contentDialog__navIcon
          a(href='#') &bull; &bull; &bull;
      .contentDialog__nav
        ul
          li
            img(src='assets/img/dialog/dialog_1.png')
            a(href='#') Показать вложения
          li
            img(src='assets/img/dialog/dialog_2.png')
            a(href='#') Поиск по истории сообщений
          li
            img(src='assets/img/dialog/dialog_3.png')
            a(href='#') Отключить уведомления
          li
            img(src='assets/img/dialog/dialog_4.png')
            a(href='#') Очистить историю сообщений
    .contentDialog__screenWrap
      .contentDialog__screen
        ul.contentDialog__content.contentDialog__contentI
          .contentDialog__avatar.contentDialog__avatar_margin-left
            a(href='#')
              img(src='assets/img/nav/1_nav.png')
            .avatarOnline
          .contentDialog__time 21:00
          .contentDialog__name_padding-left_30
            a(href='#') Фрося Бурлакова
      
          li Привет! Как дела?
          li Дальше будет длинный текст для проверки отображения
          li Lorem ipsum dolor sit amet. Fugiat, quo minus id quod. Assumenda est, omnis iste natus error. Minima veniam, quis nostrum exercitationem. Illum, qui sed ut enim ipsam voluptatem, quia voluptas nulla vero. Impedit, quo voluptas sit amet. Sint, obcaecati cupiditate non provident similique. Nobis est laborum et iusto odio dignissimos ducimus. Eum iure reprehenderit, qui dolorem ipsum, quia dolor. Quisquam est, qui ratione voluptatem accusantium doloremque. Lorem ipsum dolor sit amet. Fugiat, quo minus id quod. Assumenda est, omnis iste natus error. Minima veniam, quis nostrum exercitationem. Illum, qui sed ut enim ipsam voluptatem, quia voluptas nulla vero. Impedit, quo voluptas sit amet. Sint, obcaecati cupiditate non provident similique. Nobis est laborum et iusto odio dignissimos ducimus. Eum iure reprehenderit, qui dolorem ipsum, quia dolor. Quisquam est, qui ratione voluptatem accusantium doloremque. Lorem ipsum dolor sit amet. Fugiat, quo minus id quod. Assumenda est, omnis iste natus error. Minima veniam, quis nostrum exercitationem. Illum, qui sed ut enim ipsam voluptatem, quia voluptas nulla vero. Impedit, quo voluptas sit amet. Sint, obcaecati cupiditate non provident similique. Nobis est laborum et iusto odio dignissimos ducimus. Eum iure reprehenderit, qui dolorem ipsum, quia dolor. Quisquam est, qui ratione voluptatem accusantium doloremque. Lorem ipsum dolor sit amet. Fugiat, quo minus id quod. Assumenda est, omnis iste natus error. Minima veniam, quis nostrum exercitationem. Illum, qui sed ut enim ipsam voluptatem, quia voluptas nulla vero. Impedit, quo voluptas sit amet. Sint, obcaecati cupiditate non provident similique. Nobis est laborum et iusto odio dignissimos ducimus. Eum iure reprehenderit, qui dolorem ipsum, quia dolor. Quisquam est, qui ratione voluptatem accusantium doloremque. Lorem ipsum dolor sit amet. Fugiat, quo minus id quod. Assumenda est, omnis iste natus error. Minima veniam, quis nostrum exercitationem. Illum, qui sed ut enim ipsam voluptatem, quia voluptas nulla vero. Impedit, quo voluptas sit amet. Sint, obcaecati cupiditate non provident similique. Nobis est laborum et iusto odio dignissimos ducimus. Eum iure reprehenderit, qui dolorem ipsum, quia dolor. Quisquam est, qui ratione voluptatem accusantium doloremque. Lorem ipsum dolor sit amet. Fugiat, quo minus id quod. Assumenda est, omnis iste natus error. Minima veniam, quis nostrum exercitationem. Illum, qui sed ut enim ipsam voluptatem, quia voluptas nulla vero. Impedit, quo voluptas sit amet. Sint, obcaecati cupiditate non provident similique. Nobis est laborum et iusto odio dignissimos ducimus. Eum iure reprehenderit, qui dolorem ipsum, quia dolor. Quisquam est, qui ratione voluptatem accusantium doloremque.
        
        ul.contentDialog__content.contentDialog__contentYou
          .contentDialog__avatar.contentDialog__avatar_margin-left
            a(href='#')
              img(src='assets/img/nav/1_nav.png')
            .avatarOnline
          .contentDialog__time 21:00
          .contentDialog__name_padding-left_30
            a(href='#') Варвара Иванова
      
          li Привет! Хорошо
          li Сколько букв
    .contentDialog__footer
      form.formMessage
        .formMessage__upload
          input.formMessage__uploadInput(type='file')
          button.formMessage__uploadButton(type='button' alt="Загрузить файл")
            img(src='assets/img/dialog/dialog_1.png')
        textarea.formMessage__textInput(onkeydown="textAreaHeight(this)" rows="1" placeholder='Напишите сообщение...')
        .formMessage__smail
          a(href='#')
            img(src='assets/img/dialog/dialog_6.png')
        button.formMessage__sumbitButton(type='submit' alt="Отправить сообщение")
          img(src='assets/img/dialog/dialog_7.png')

      