header.header.container-flued
  .header__logo
    a(href='#')
      img(src='assets/img/logo/logo.png')
  form.formSearch(action='', method='get')
    input.formSearch__input(name='s', placeholder='Поиск...', type='search', required='')
    button.formSearch__button(type='submit')
      img(src='assets/img/search/search.png')