nav.navigator
  ul
    li
      img(src='assets/img/nav/1_nav.png')
      a(href='#') Профиль
  ul
    li
      img(src='assets/img/nav/2_nav.png')
      a(href='#') Личные сообщения
  ul
    li
      img(src='assets/img/nav/3_nav.png')
      a(href='#') Конференция
  ul
    li
      img(src='assets/img/nav/4_nav.png')
      a(href='#') Друзья
  ul
    li
      img(src='assets/img/nav/5_nav.png')
      a(href='#') Случайный собеседник
  ul
    li
      img(src='assets/img/nav/6_nav.png')
      a(href='#') Музыка
  ul
    li
      img(src='assets/img/nav/7_nav.png')
      a(href='#') Настройки