.contentFriend__cover
  position relative
  display inline-block
  width 33.33%
  float left
  padding 15px
  +responsive(md)
    width 50%
  +responsive(550px)
    width 80%
  +responsive(xxs)
    width 100%