.formSearchDialog__button
  height 16px
  width 16px
  position absolute
  top 2px
  left 0
  cursor pointer
  border none
  outline none
  background-color accentColor
  img
    width 16px
    height auto
    background accentColor