.header
  background-color baseColor
  box-shadow 0px 1px 1px
  padding 0
  position relative
  height 45px
  margin-bottom 20px
  +responsive(xs)
    margin-bottom 10px
  +responsive(xxs)
    height 40px