.contentFriend__button
  background-color #01587a
  border none;
  border-radius 5px
  box-shadow 0 0 0.5px #01587a
  color #fff
  padding-left 15px
  padding-right 15px
  &:hover
    font-weight bold
  &:after
    content ' друзей'
    +responsive(xs)
      content ''