.contentFriend__navigator
  margin-top 10px
  font-size 16pxss
  ul
    list-style-type none
    margin-bottom 0
    border-top 2px solid lightColor
  ul:first-child
      border-top none
    li
      position relative
      margin-left -40px
      height 84px
      +responsive(xxs)
        height 64px
      padding-top 7px
      &:hover
        background lightColor
      a
        text-decoration none