.content {
  min-height: 100vh;
  background: #fbf6ce;
  position: relative;
}
.content404 {
  height: 100vh;
}
.content404__404 {
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fcfcf2;
  font-size: 15vmin;
}
.content404__error {
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 2.7vmin;
}
.content404__link {
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 4.5vmin;
  text-align: center;
  text-decoration: underline;
}
.content404__link:hover,
.content404__link:focus,
.content404__link:active {
  color: #331107;
  text-decoration: none;
  font-weight: bold;
}
.content404__smail {
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 80%;
  left: 50%;
}
.content404__smail img {
  max-width: 15vmin;
}
.contentDialog__avatar_margin-left {
  margin-left: -40px;
}
@media only screen and (max-width: 767px) {
  .contentDialog__avatar_margin-left {
    display: none;
  }
}
.contentDialog__avatar {
  float: left;
  background: #fcfcf2;
  border-radius: 100px;
}
.contentDialog__avatar img {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 100px;
}
@media only screen and (max-width: 480px) {
  .contentDialog__avatar img {
    width: 40px;
    height: 40px;
  }
}
.contentDialog__content {
  margin-top: 10px;
  list-style-type: none;
  margin-bottom: 0;
  position: relative;
}
.contentDialog__content li {
  color: #000;
  padding: 3px 30px 3px 30px;
  text-align: justify;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .contentDialog__content li {
    padding: 3px 11px 3px 0;
    margin-left: -35px;
  }
}
@media only screen and (max-width: 480px) {
  .contentDialog__content li {
    font-size: 12px;
  }
}
.contentDialog__footer {
  border-top: 1px solid #fcfcf2;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}
.contentDialog__header {
  border-bottom: 1px solid #fcfcf2;
  height: 60px;
}
@media only screen and (max-width: 480px) {
  .contentDialog__header {
    height: 50px;
  }
}
.contentDialog__name_padding-left_30 {
  padding-left: 30px;
  padding-top: 15px;
  margin-bottom: 8px;
  color: #331107;
}
@media only screen and (max-width: 767px) {
  .contentDialog__name_padding-left_30 {
    display: none;
  }
}
.contentDialog__name_padding-left_69 {
  padding-left: 69px;
  padding-top: 15px;
  color: #331107;
}
@media only screen and (max-width: 480px) {
  .contentDialog__name_padding-left_69 {
    padding-top: 10px;
    padding-left: 50px;
  }
}
.contentDialog__nav {
  box-shadow: 1px 2px 5px #331107;
  background: #ce6b2d;
  font-size: 14px;
  position: absolute;
  right: 30px;
  top: 50px;
  z-index: 1;
  display: none;
}
.contentDialog__nav ul {
  list-style-type: none;
  margin-bottom: 0;
}
.contentDialog__nav ul li {
  margin-left: -40px;
  padding: 7px;
}
.contentDialog__nav ul li:hover {
  background: #bbced6;
}
.contentDialog__nav ul li img {
  width: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}
.contentDialog__nav ul li a {
  text-decoration: none;
}
.contentDialog__navIcon {
  color: #331107;
  float: right;
  padding-right: 15px;
}
@media only screen and (max-width: 480px) {
  .contentDialog__navIcon {
    padding-right: 0;
  }
}
.contentDialog__navIcon a {
  text-decoration: none;
}
.contentDialog__screen {
  position: absolute;
  bottom: 0;
  max-height: calc(100vh - 5px);
  width: 100%;
  overflow-y: auto;
}
@media only screen and (max-width: 480px) {
  .contentDialog__screen {
    max-height: 100vh;
  }
}
.contentDialog__screenWrap {
  height: calc(100vh - 215px);
  position: relative;
}
@media only screen and (max-width: 480px) {
  .contentDialog__screenWrap {
    height: calc(100vh - 210px);
  }
}
.contentDialog__time {
  color: #a9a9a9;
  font-size: 14px;
  position: absolute;
  top: 50px;
  left: 10px;
}
@media only screen and (max-width: 767px) {
  .contentDialog__time {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .contentDialog__contentI {
    background-color: rgba(1,88,122,0.1);
    border-radius: 10px 10px 0 10px;
    margin-right: 17%;
  }
}
@media only screen and (max-width: 767px) {
  .contentDialog__contentYou {
    background-color: rgba(243,186,0,0.2);
    margin-left: 17%;
    border-radius: 0 10px 10px 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .contentDialog__contentYou {
    margin-left: 15%;
  }
}
.contentDialog {
  min-height: calc(100% + 45px);
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .contentDialog {
    font-size: 13px;
  }
}
.contentFriend__avatar {
  background: #fcfcf2;
  border-radius: 100px;
  position: absolute;
  top: 25px;
  left: 25px;
  border: 1px solid #fcfcf2;
}
.contentFriend__avatar img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}
.contentFriend__button {
  margin-top: 0;
  width: 32%;
  padding: 5.5px;
}
.contentFriend__button_width_50 {
  margin-top: 0;
  width: 49%;
  padding: 5.5px;
}
.contentFriend__character {
  border-bottom: 1px solid #ce6b2d;
  border-top: 1px solid #ce6b2d;
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  float: left;
  padding: 5px;
  margin-bottom: 5px;
}
.contentFriend__cover {
  position: relative;
  display: inline-block;
  width: 33.33%;
  float: left;
  padding: 15px;
}
@media only screen and (max-width: 1199px) {
  .contentFriend__cover {
    width: 50%;
  }
}
@media only screen and (max-width: 550px) {
  .contentFriend__cover {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .contentFriend__cover {
    width: 100%;
  }
}
.contentFriend__fon {
  overflow: hidden;
  height: 150px;
}
.contentFriend__fon img {
  height: 150px;
  width: auto;
}
.contentFriend__header {
  height: 120px;
}
.contentFriend__letter a:hover,
.contentFriend__letter a:focus,
.contentFriend__letter a:active {
  font-weight: bold;
  color: #ce6b2d;
}
@media only screen and (max-width: 767px) {
  .contentFriend__letter {
    font-size: 13px;
    display: inline;
  }
}
.contentFriend__name {
  position: absolute;
  font-weight: bold;
  color: #fcfcf2;
  top: 100px;
  left: 35px;
  font-size: 16px;
  font-style: italic;
  text-shadow: #331107 1px 0px, #331107 1px 1px, #331107 0px 1px, #331107 -1px 1px, #331107 -1px 0px, #331107 -1px -1px, #331107 0px -1px, #331107 1px -1px;
}
.contentFriend__screen {
  height: calc(100vh - 150px);
  width: 100%;
  overflow-y: auto;
}
.contentFriend__surname {
  position: absolute;
  font-weight: bold;
  color: #fcfcf2;
  top: 120px;
  left: 20px;
  font-size: 17px;
  font-style: italic;
  text-shadow: #331107 1px 0px, #331107 1px 1px, #331107 0px 1px, #331107 -1px 1px, #331107 -1px 0px, #331107 -1px -1px, #331107 0px -1px, #331107 1px -1px;
}
.contentFriend {
  padding: 15px;
}
.contentIndex {
  background-image: url("../img/fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #331107;
  min-height: 100vh;
}
.contentProfile__avatar {
  background: #fcfcf2;
  margin: 20px;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 580px) {
  .contentProfile__avatar {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 45%;
    left: 45%;
  }
}
.contentProfile__avatar img {
  height: 200px;
  width: auto;
  margin: 10px;
}
@media only screen and (max-width: 1199px) {
  .contentProfile__avatar img {
    height: 150px;
  }
}
@media only screen and (max-width: 580px) {
  .contentProfile__avatar img {
    height: 120px;
  }
}
.contentProfile__basic {
  background-color: #331107;
  height: 280px;
  position: relative;
}
.contentProfile__fon {
  overflow: hidden;
  height: 280px;
}
.contentProfile__fon img {
  height: 280px;
  width: auto;
}
.contentProfile__button {
  position: absolute;
  bottom: 10px;
  width: 150px;
}
@media only screen and (max-width: 580px) {
  .contentProfile__button {
    bottom: 0;
    width: 145px;
  }
}
@media only screen and (max-width: 370px) {
  .contentProfile__button {
    width: 120px;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
  }
}
#buttonDelFriend {
  display: none;
  right: 10px;
}
#buttonDelFriend:hover,
#buttonDelFriend:focus,
#buttonDelFriend:active {
  background: #cf0029;
}
#buttonAddFriend {
  right: 10px;
}
#buttonMessage {
  right: 170px;
}
@media only screen and (max-width: 370px) {
  #buttonMessage {
    right: 145px;
  }
}
#buttonChangeCover {
  right: 10px;
  width: 150px !important;
  padding: 8px !important;
  display: none;
}
.contentProfile__info {
  margin: 20px;
}
.contentProfile__name {
  font-weight: bold;
  color: #fcfcf2;
  font-size: 28px;
  font-style: italic;
  text-shadow: #331107 1px 0px, #331107 1px 1px, #331107 0px 1px, #331107 -1px 1px, #331107 -1px 0px, #331107 -1px -1px, #331107 0px -1px, #331107 1px -1px;
  text-align: center;
  position: absolute;
  top: 80px;
  left: 300px;
  position: absolute;
}
@media only screen and (max-width: 1199px) {
  .contentProfile__name {
    left: 250px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .contentProfile__name {
    font-size: 20px;
    left: 270px;
  }
}
@media only screen and (max-width: 580px) {
  .contentProfile__name {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
  }
}
.contentProfile__newFoto {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #331107;
  opacity: 0.6;
  color: #fcfcf2;
  text-align: center;
  padding-top: 2px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
.contentProfile__newFotoHide {
  position: absolute;
  z-index: 2;
  top: -15px;
  right: 0;
  font-size: 30px;
  color: #fcfcf2;
  cursor: pointer;
  text-shadow: #331107 1px 0px, #331107 1px 1px, #331107 0px 1px, #331107 -1px 1px, #331107 -1px 0px, #331107 -1px -1px, #331107 0px -1px, #331107 1px -1px;
  display: none;
}
.contentProfile__parameter {
  font-weight: bold;
  padding-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .contentProfile__parameter {
    padding-left: 0 !important;
  }
}
.contentProfile__status {
  text-align: center;
  color: #164d0d;
  height: 20px;
}
.contentProfile__value {
  padding-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .contentProfile__value {
    padding-right: 0 !important;
  }
}
.contentProfile {
  padding: 8px;
}
.contentQuest__avatarX {
  display: none;
  float: left;
  background: #fcfcf2;
  border-radius: 100px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
@media only screen and (max-width: 767px) {
  .contentQuest__avatarX {
    top: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .contentQuest__avatarX {
    opacity: 0;
  }
}
.contentQuest__avatarX img {
  width: 15vmin;
  min-width: 48px;
  height: 15vmin;
  min-height: 48px;
  padding: 15px;
  border-radius: 100px;
}
.contentQuest__avatarxxx {
  float: left;
  border-radius: 100px;
  position: absolute;
  background: #fcfcf2;
}
.contentQuest__avatarxxx img {
  width: 9vmin;
  height: 9vmin;
  padding: 5px;
  border-radius: 100px;
}
.contentQuest__avatarxxxWrap {
  position: relative;
}
.contentQuest__buttonQuest {
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.contentQuest__buttonStart {
  display: none;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 80%;
  left: 50%;
}
@media only screen and (max-width: 767px) {
  .contentQuest__buttonStart {
    top: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .contentQuest__buttonStart {
    top: 50%;
  }
}
.contentQuest__circle {
  width: 50vmin;
  min-width: 160px;
  height: 50vmin;
  min-height: 160px;
  border: 1px solid #331107;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.contentQuest__tit {
  display: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .contentQuest__tit {
    opacity: 0;
  }
}
.contentQuest {
  margin-left: 15px;
  margin-right: 15px;
  width: cals(100% -30px);
  height: 100%;
}
.contentRegistration__avatarCover {
  position: relative;
  width: 100%;
  max-width: 200px;
}
.contentRegistration__avatarCover img {
  background-color: #fcfcf2;
}
.contentRegistration__change a {
  color: #164d0d;
  text-decoration: underline;
  font-style: italic;
  font-size: 12px;
}
.contentRegistration__change a:hover,
.contentRegistration__change a:focus,
.contentRegistration__change a:active {
  color: #164d0d;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.contentRegistration__newFoto {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  height: 35px;
  background-color: #331107;
  opacity: 0.6;
  color: #fcfcf2;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
  font-weight: bold;
}
.contentRegistration__value {
  font-size: 16px;
}
@media only screen and (max-width: 480px) {
  .contentRegistration__value {
    font-size: 14px;
  }
}
.contentRegistration {
  background: #fbf6ce;
  width: 600px;
  padding: 20px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  border-radius: 30px;
  -webkit-animation-name: contentRegistration;
  animation-name: contentRegistration;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@media only screen and (max-width: 767px) {
  .contentRegistration {
    width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .contentRegistration {
    width: 100%;
  }
}
@-webkit-keyframes contentRegistration {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes contentRegistration {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contentTuning__button {
  width: auto !important;
}
.contentTuning__cancel {
  text-align: right;
  color: #cf0029;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
.contentTuning__cancel:hover,
.contentTuning__cancel:focus,
.contentTuning__cancel:active {
  color: #cf0029;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
}
.contentTuning__change {
  text-align: right;
  color: #164d0d;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
.contentTuning__change:hover,
.contentTuning__change:focus,
.contentTuning__change:active {
  color: #164d0d;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.contentTuning__delete {
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.contentTuning__delete img {
  width: 25px;
  margin-left: 10px;
  margin-bottom: 5px;
  float: right;
}
.contentTuning__delimiter {
  height: 10px;
}
.contentTuning__exit {
  text-align: left;
  font-weight: bold;
}
.contentTuning__exit img {
  width: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
}
.contentTuning__infinity {
  text-align: center;
  font-size: 30px;
  color: #ce6b2d;
  line-height: 0.6;
}
.contentTuning__new {
  border-bottom: 1px solid #ce6b2d;
  border-top: 1px solid #ce6b2d;
  margin: 20px;
}
@media only screen and (max-width: 480px) {
  .contentTuning__newParameter {
    margin-left: -25px;
  }
}
.contentTuning__novel {
  line-height: 2;
}
@media only screen and (max-width: 480px) {
  .contentTuning__novel {
    line-height: 1.5;
  }
}
.contentTuning__parameter {
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .contentTuning__parameter {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .contentTuning__parameter {
    line-height: 1.2;
  }
}
@media only screen and (max-width: 480px) {
  .contentTuning__select {
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-size: 12px;
  }
}
.contentTuning__tit {
  text-align: center;
  font-weight: bold;
}
.contentTuning__URL {
  background: #fcfcf2;
  padding: 8px;
  margin-right: -5px;
}
@media only screen and (max-width: 480px) {
  .contentTuning__URL {
    padding: 3px;
  }
}
.contentTuning__value {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .contentTuning__value {
    line-height: 1.2;
  }
}
.contentTuning {
  padding: 25px;
}
.contentTuning input {
  margin-top: 0;
}
.formLogin__button {
  margin: 30px 25px 30px -30px;
}
@media only screen and (max-width: 480px) {
  .formLogin__button {
    margin: 20px 25px 20px -30px;
  }
}
.formLogin__input {
  width: 88%;
}
.formLogin__socia {
  border-top: 1px solid #ce6b2d;
  padding: 10px 15px 15px 10px;
}
@media only screen and (max-width: 480px) {
  .formLogin__socia {
    padding: 5px 0 10px 0;
  }
}
.formLogin__socia .fa.fa-vk {
  font-size: 30px;
}
@media only screen and (max-width: 480px) {
  .formLogin__socia .fa.fa-vk {
    font-size: 25px;
  }
}
.formLogin__socialLink {
  padding: 10px;
}
.formLogin {
  background: #331107;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 30px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-animation-name: formLogin;
  animation-name: formLogin;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.formLogin a {
  color: #fcfcf2;
  text-decoration: none;
}
.formLogin a:hover,
.formLogin a:focus,
.formLogin a:active {
  color: #ce6b2d;
  text-decoration: none;
}
.formLogin img {
  margin: 20px;
  width: calc(100% - 40px);
}
@media only screen and (max-width: 767px) {
  .formLogin {
    width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .formLogin {
    width: 100%;
  }
}
@-webkit-keyframes formLogin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes formLogin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formMessage__smail {
  position: absolute;
  bottom: 10px;
  right: 60px;
}
@media only screen and (max-width: 480px) {
  .formMessage__smail {
    right: 50px;
    bottom: 0;
  }
}
.formMessage__smail img {
  width: 20px;
  height: auto;
}
.formMessage__sumbitButton {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background: #ce6b2d;
  border: none;
  float: right;
}
@media only screen and (max-width: 480px) {
  .formMessage__sumbitButton {
    width: 45px;
    height: 45px;
  }
}
.formMessage__textInput {
  margin: 15px 5px 5px 5px;
  width: calc(100% - 100px);
  color: #000;
  padding-right: 30px;
}
@media only screen and (max-width: 480px) {
  .formMessage__textInput {
    width: calc(100% - 80px);
    margin: 15px 0 0 0;
  }
}
.formMessage__upload {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  margin-top: 7.5px;
}
@media only screen and (max-width: 480px) {
  .formMessage__upload {
    width: 35px;
    height: 35px;
  }
}
.formMessage__uploadButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ce6b2d;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .formMessage__uploadButton {
    width: 35px;
    height: 35px;
  }
}
.formMessage__uploadInput {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.formMessage {
  position: relative;
}
.formSearchDialog__button {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ce6b2d;
}
.formSearchDialog__button img {
  width: 16px;
  height: auto;
  background: #ce6b2d;
}
.formSearchDialog__buttonAdd {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ce6b2d;
}
.formSearchDialog__input {
  width: 100%;
  height: 30px;
  padding-left: 30px;
  color: #331107;
  border: none;
  outline: none;
  font-size: 12px;
}
.formSearchDialog {
  position: relative;
  width: 220px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1199px) {
  .formSearchDialog {
    width: 110%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .formSearchDialog {
    margin-top: 20px;
    width: 100%;
  }
}
.formSearchFriend__button {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fcfcf2;
  margin-top: 10px;
}
@media only screen and (max-width: 340px) {
  .formSearchFriend__button {
    margin-top: 0;
  }
}
.formSearchFriend__button img {
  width: 16px;
  height: auto;
  background: #fcfcf2;
}
.formSearchFriend__input {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 340px) {
  .formSearchFriend__input {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.formSearchFriend {
  position: relative;
  width: 100%;
}
a {
  color: #331107;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #331107;
  text-decoration: none;
}
.avatarOnline:after {
  content: '\2022';
  font-size: 40px;
  color: #164d0d;
  position: absolute;
  bottom: -20px;
  right: 3px;
}
.sidebar__dialogChoice__avatar {
  position: relative;
}
.contentDialog__avatar {
  position: relative;
}
.body {
  background-color: #ce6b2d;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  color: #331107;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .body {
    font-size: 12px;
  }
}
button {
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 95px;
  margin-top: 20px;
}
.button_color_accent {
  background: #ce6b2d;
  box-shadow: 0 0 0.5px #ce6b2d;
  color: #fcfcf2;
}
.button_color_accent:hover,
.button_color_accent:focus,
.button_color_accent:active {
  color: #ce6b2d;
  background: #fcfcf2;
}
.button_color_theme {
  background: #331107;
  box-shadow: 0 0 0.5px #331107;
  color: #fcfcf2;
}
.button_color_theme:hover,
.button_color_theme:focus,
.button_color_theme:active {
  color: #331107;
  background: #fcfcf2;
}
.button_color_light {
  background: #fcfcf2;
  box-shadow: 0 0 0.5px #331107;
  color: #331107;
}
.button_color_light:hover,
.button_color_light:focus,
.button_color_light:active {
  color: #fcfcf2;
  background: #331107;
}
.error {
  color: #cf0029;
  font-size: 13px;
  margin: 5px;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .error {
    font-size: 12px;
  }
}
.info {
  color: #164d0d;
  font-size: 13px;
  margin: 5px;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .info {
    font-size: 12px;
  }
}
#formLogin__error,
#errorNewPassword,
#errorEmailCode,
#errorEmail,
#regEmailCode,
#repeatEmail,
#saveSurname,
#saveName,
#newSurname,
#newName,
#cancelPassword,
#cancelEmail,
#cancelPhone,
#cancelURL,
#novelPassword,
#novelEmail,
#novelEmailCode,
#novelPhone,
#novelPhoneCode,
#novelURL,
#yesPassword,
#yesEmail,
#yesPhone,
#yesURL,
#errorOldPassword,
#errorPhone,
#repeatPhone,
#errorURL,
#errorPhoneCode,
#errorLowLength,
#navMessage,
#navConference,
#navFriend,
#navQuest {
  display: none;
}
#newSurname {
  margin-top: 0;
  margin-bottom: 10px;
}
#newName {
  margin-top: 0;
}
#repeatEmail,
#repeatPhone {
  padding-left: 20px;
  text-decoration: underline;
  color: #164d0d;
  cursor: pointer;
}
html {
  height: 100%;
}
img {
  width: 100%;
  height: auto;
}
input {
  color: #331107;
  border: #331107;
  background: #fcfcf2;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 0 0.5px #ce6b2d;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}
select {
  color: #331107;
  border: #331107;
  background: #fcfcf2;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 0 0.5px #ce6b2d;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
.site {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  position: relative;
}
.navigator__formLogin {
  background: #331107;
  text-align: center;
  border-radius: 30px;
  margin-right: 10px;
}
.navigator__formLogin a {
  color: #fcfcf2;
  text-decoration: none;
}
.navigator__formLogin a:hover,
.navigator__formLogin a:focus,
.navigator__formLogin a:active {
  color: #ce6b2d;
  text-decoration: none;
}
.buttonNavigator {
  position: fixed;
  top: 49%;
  font-size: 50px;
  color: #331107;
  display: none;
  z-index: 1;
  cursor: pointer;
  left: -50px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
@media only screen and (max-width: 767px) {
  .buttonNavigator {
    display: inherit;
    left: 0;
  }
}
.navigator {
  margin-top: 20px;
  margin-right: -20px;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .navigator {
    display: none;
    position: fixed;
    z-index: 3;
    background: #331107;
    opacity: 0.6;
    height: 100%;
    top: 0;
    left: 0;
    width: 195px;
    margin-top: 0;
    margin-right: 0;
  }
}
.navigator ul {
  list-style-type: none;
  margin-bottom: 0;
}
.navigator ul li {
  margin-left: -60px;
  padding: 7px;
}
@media only screen and (max-width: 767px) {
  .navigator ul li {
    margin-left: -40px;
  }
}
.navigator ul li:hover,
.navigator ul li:focus,
.navigator ul li:active {
  background: #331107;
}
.navigator ul li:hover img,
.navigator ul li:focus img,
.navigator ul li:active img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.navigator ul li:hover a,
.navigator ul li:focus a,
.navigator ul li:active a {
  color: #fcfcf2;
}
@media only screen and (max-width: 767px) {
  .navigator ul li:hover a,
  .navigator ul li:focus a,
  .navigator ul li:active a {
    color: #ce6b2d;
  }
  .navigator ul li:hover img,
  .navigator ul li:focus img,
  .navigator ul li:active img {
    -webkit-filter: saturate(400%) hue-rotate(30deg) brightness(1.5) contrast(0.7);
    filter: saturate(400%) hue-rotate(30deg) brightness(1.5) contrast(0.7);
  }
}
.navigator ul li img {
  width: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
}
@media only screen and (max-width: 767px) {
  .navigator ul li img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
}
.navigator ul li a {
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .navigator ul li a {
    color: #fcfcf2;
  }
}
.sidebar__button {
  width: 180px !important;
}
@media only screen and (max-width: 1199px) {
  .sidebar__button {
    width: 165px !important;
  }
}
.sidebar__logo {
  display: none;
}
@media only screen and (max-width: 991px) {
  .sidebar__logo {
    display: inherit;
  }
}
@media only screen and (max-width: 991px) {
  .sidebar__logo1 {
    display: none;
  }
}
.buttonSidebar {
  position: fixed;
  top: 49%;
  font-size: 50px;
  color: #331107;
  display: none;
  z-index: 1;
  cursor: pointer;
  right: 0;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
@media only screen and (max-width: 991px) {
  .buttonSidebar {
    display: inherit;
  }
}
.sidebar {
  font-size: 16px;
  margin-left: -15px;
  margin-top: 20px;
}
@media only screen and (max-width: 991px) {
  .sidebar {
    position: fixed;
    z-index: 3;
    background: #331107;
    opacity: 0.6;
    height: 100%;
    top: 0;
    right: 0;
    width: 195px;
    display: none;
    margin-top: 0;
  }
}
