.contentRegistration__change
  a
    color onlineColor
    text-decoration underline
    font-style italic
    font-size 12px
    &:hover, &:focus, &:active
      color onlineColor
      text-decoration underline
      font-style italic
      font-weight bold