.contentDialog__content
  margin-top 10px
  list-style-type none
  margin-bottom 0
  position relative
  li
    color black
    padding 3px 30px 3px 30px
    text-align justify
    font-size 14px
    +responsive(xs)
      padding 3px 11px 3px 0
      margin-left -35px
    +responsive(xxs)
      font-size 12px