.contentTuning__cancel
  font-style italic
  text-align right
  +responsive(xs)
    text-align left
#cancelPassword
  display none
#cancelEmail
  display none
#cancelPhone
  display none
#cancelURL
  display none