baseFont = 'Calibri', sans-serif
fontSize = 16px
baseColor = #01587a
lightColor = #E8EEF1
onlineColor = #2A9018
accentColor = #FFFFFF
siteMinWidth = 320px
siteMaxWidth = 1920px
stickyFooterHeight = 55px


xxs = 480px
xs = 767px
sm = 991px
md = 1199px
lg = 1680px