extends ../layouts/main.pug

block site__content
  .content404
    .contentQuest
      .contentQuest__circle
        .contentQuest_found
        .content404__404 404
        .content404__error Страница не найдена
        a.content404__link(href='#') На главную?
        .content404__smail
          img(src='assets/img/logo/logo_blue.png')
        .contentQuest_avatarxxxWrap
          .contentQuest_avatarxxx(onClick="animation({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation1({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation2({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation3({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation4({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation5({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation6({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation7({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation8({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation9({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation10({}, this);")
            img(src='assets/img/nav/1_nav.png')
          .contentQuest_avatarxxx(onClick="animation11({}, this);")
            img(src='assets/img/nav/1_nav.png')