extends ../layouts/layout.pug

block site__content
  .contentFriend
    .row.contentFriend__header
      .col-xs-2.col-sm-3.col-md-3.col-lg-3
        a.contentFriend__vse(href='#')
          span.contentFriend__amount (
          span.contentFriend__amount 150
          span.contentFriend__amount )
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        a.contentFriend__online(href='#')
          span.contentFriend__amount (
          span.contentFriend__amount 150
          span.contentFriend__amount )
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        a.contentFriend__zayavki(href='#')
          span.contentFriend__amount (
          span.contentFriend__amount 150
          span.contentFriend__amount )
      .col-xs-4.col-sm-3.col-md-3.col-lg-3 
      button.contentFriend__button.center-block Найти 
      .col-xs-12
        form.formSearchFriend(action='', method='get')
          input.formSearchFriend__input(name='s', placeholder='Введите имя друга', type='search', required='')
          button.formSearchFriend__button(type='submit')
            img(src='assets/img/search/search.png')     
    .contentFriend__screen
      nav.contentFriend__navigator
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
                .avatarOnline
            .contentFriend__navigator__name
              a(href='#') Наталия Гончарова
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      
            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
            .contentFriend__navigator__name
              a(href='#') Ксения Боголюбская
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      

            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
                .avatarOnline
            .contentFriend__navigator__name
              a(href='#') Варвара Иванова
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      

            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
                .avatarOnline
            .contentFriend__navigator__name
              a(href='#') Вася Пупкин
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      

            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
                .avatarOnline
            .contentFriend__navigator__name
              a(href='#') Иван Иванов
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      

            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
                .avatarOnline
            .contentFriend__navigator__name
              a(href='#') Петр Петров
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      

            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
        ul
          li
            .contentFriend__navigator__avatar
              a(href='#')
                img(src='assets/img/nav/1_nav.png')
                .avatarOnline
            .contentFriend__navigator__name
              a(href='#') Сидр Сидоров
              span.contentFriend__navIcon
                a(href='#') &bull; &bull; &bull;
            .contentFriend__nav
              ul
                li
                  a(href='#') Посмотреть друзей
                li
                  a(href='#') Предложить друзей
                li
                  a.contentFriend__nav_color_orange(href='#') Убрать из друзей
                li.contentFriend__nav_background_none
                  a(href='#') Добавить в список
                  ul
                    li
                      a.contentFriend__nav__tick(href='#') Лучшие друзья
                    li
                      a(href='#') Родственники
                    li
                      a(href='#') Коллеги
                    li
                      a(href='#') Друзья по школе
                    li
                      a(href='#') Друзья по ВУЗу
                      

            .contentFriend__navigator__info Ярославль
            .contentFriend__navigator__massege 
              a(href='#') Написать
  
block sidebar
  .contentSidebar__screen
  
    nav.sidebar__friendList
      ul Фильтр
        li
          a.sidebar__friendList__tick(href='#') Все друзья
        li
          a(href='#') Лучшие друзья
        li
          a(href='#') Родственники
        li
          a(href='#') Коллеги
        li
          a(href='#') Друзья по ВУЗу
        li
          a(href='#') Друзья по школе
        li
          a.sidebar__friendList__plus(href='#') Создать новый список
      form.formFriendList
        input.formFriendList__input(placeholder='Введите название списка')
        button.formFriendList__button.center-block Добавить
          
    nav.sidebar__friendPotential
      ul Возможные друзья
        li
          .sidebar__dialogChoice__avatar
            a(href='#')
              img(src='assets/img/nav/1_nav.png')
              .avatarOnline
          .sidebar__friendPotential__name
            a(href='#') Наталия Гончарова
          .sidebar__friendPotential__sum 2 общих друга
            span
              a.sidebar__friendPotential__plus(href='#')
        li
          .sidebar__dialogChoice__avatar
            a(href='#')
              img(src='assets/img/nav/1_nav.png')
              .avatarOnline
          .sidebar__friendPotential__name
            a(href='#') Ксения Боголюбская
          .sidebar__friendPotential__sum 2 общих друга
            span
              a.sidebar__friendPotential__plus(href='#')
        li
          .sidebar__dialogChoice__avatar
            a(href='#')
              img(src='assets/img/nav/1_nav.png')
              .avatarOnline
          .sidebar__friendPotential__name
            a(href='#') Варвара Иванова
          .sidebar__friendPotential__sum 2 общих друга
            span
              a.sidebar__friendPotential__plus(href='#')
