extends ../layouts/layout_0.pug

block site__content
  .content404
    .contentQuest__circle
      .content404__404 404
      .content404__error Страница не найдена
      a.content404__link(href='#') На главную?
      .content404__smail
        img(src='assets/img/logo/logo_1.png')
      .contentQuest__avatarxxxWrap
        .contentQuest__avatarxxx#x0
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x1
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x2
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x3
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x4
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x5
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x6
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x7
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x8
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x9
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x10
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx#x11
          img(src='assets/img/nav/1_nav.png')
