extends ../layouts/layout_2.pug

block site__content
  .contentFriend
    .contentFriend__header
      .contentFriend__letter
        a(href='#') Все&nbsp;
      .contentFriend__letter
        a(href='#') А &nbsp;
        a(href='#') Б &nbsp;
        a(href='#') В &nbsp;
        a(href='#') Г &nbsp;
        a(href='#') Д &nbsp;
        a(href='#') Е &nbsp;
        a(href='#') Ё &nbsp;
        a(href='#') Ж &nbsp;
        a(href='#') З &nbsp;
        a(href='#') И &nbsp;
        a(href='#') Й &nbsp;
        a(href='#') К &nbsp;
        a(href='#') Л &nbsp;
        a(href='#') М &nbsp;
        a(href='#') Н &nbsp;
        a(href='#') О &nbsp;
        a(href='#') П &nbsp;
        a(href='#') Р &nbsp;
        a(href='#') С &nbsp;
        a(href='#') Т &nbsp;
        a(href='#') У &nbsp;
        a(href='#') Ф &nbsp;
        a(href='#') Х &nbsp;
        a(href='#') Ц &nbsp;
        a(href='#') Ч &nbsp;
        a(href='#') Ш &nbsp;
        a(href='#') Щ &nbsp;
        a(href='#') Ъ &nbsp;
        a(href='#') Ы &nbsp;
        a(href='#') Ь &nbsp;
        a(href='#') Э &nbsp;
        a(href='#') Ю &nbsp;
        a(href='#') Я &nbsp;
      .contentFriend__letter
        a(href='#') A &nbsp;
        a(href='#') B &nbsp;
        a(href='#') C &nbsp;
        a(href='#') D &nbsp;
        a(href='#') E &nbsp;
        a(href='#') F &nbsp;
        a(href='#') G &nbsp;
        a(href='#') H &nbsp;
        a(href='#') I &nbsp;
        a(href='#') J &nbsp;
        a(href='#') K &nbsp;
        a(href='#') L &nbsp;
        a(href='#') M &nbsp;
        a(href='#') N &nbsp;
        a(href='#') O &nbsp;
        a(href='#') P &nbsp;
        a(href='#') Q &nbsp;
        a(href='#') R &nbsp;
        a(href='#') S &nbsp;
        a(href='#') T &nbsp;
        a(href='#') U &nbsp;
        a(href='#') V &nbsp;
        a(href='#') W &nbsp;
        a(href='#') X &nbsp;
        a(href='#') Y &nbsp;
        a(href='#') Z &nbsp;
      form.formSearchFriend(action='', method='get')
        input.formSearchFriend__input(name='s', placeholder='Введите имя друга', type='search', required='')
        button.formSearchFriend__button(type='submit')
          img(src='assets/img/search/search.png')
    .contentFriend__screen
      .contentFriend__character А
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/fon_friend.jpg')
        .contentFriend__avatar
          img(src='assets/img/avatar.jpg')
          .avatarOnline
        .contentFriend__name Имягдеёжзийклмнопрст
        .contentFriend__surname Фамилияжзийклмнопрст
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon1.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a1.jpg')
          .avatarOnline
        .contentFriend__name Вася
        .contentFriend__surname Пупкин
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon2.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a2.jpg')
          .avatarOnline
        .contentFriend__name Прокофья
        .contentFriend__surname Иванова
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon3.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a3.jpg')
          .avatarOnline
        .contentFriend__name Варвара
        .contentFriend__surname Караулова
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon4.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a4.jpg')
          .avatarOnline
        .contentFriend__name Дмитрий
        .contentFriend__surname Крокодилов
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon5.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a5.jpg')
          .avatarOnline
        .contentFriend__name Родион
        .contentFriend__surname Виноградов
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon6.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a6.jpg')
          .avatarOnline
        .contentFriend__name Виктор
        .contentFriend__surname Коробейников
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon7.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a7.jpg')
          .avatarOnline
        .contentFriend__name Петя
        .contentFriend__surname Васильев
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__cover
        .contentFriend__fon
          img(src='assets/img/temp/fon8.jpg')
        .contentFriend__avatar
          img(src='assets/img/temp/a8.jpg')
          .avatarOnline
        .contentFriend__name Михаил
        .contentFriend__surname Преображенский
        button.button_color_accent.contentFriend__button_width_50 Принять
        button.button_color_accent.contentFriend__button_width_50 Отказать
      .contentFriend__character Б
      .contentFriend__character В
      .contentFriend__character Г
      .contentFriend__character Д
      .contentFriend__character Е
      .contentFriend__character Ё
      .contentFriend__character Ж
      .contentFriend__character З
      .contentFriend__character И
      .contentFriend__character Й
      .contentFriend__character К
      .contentFriend__character Л
      .contentFriend__character М
      .contentFriend__character Н
      .contentFriend__character О
      .contentFriend__character П
      .contentFriend__character Р
      .contentFriend__character С
      .contentFriend__character Т
      .contentFriend__character У
      .contentFriend__character Ф
      .contentFriend__character Х
      .contentFriend__character Ц
      .contentFriend__character Ч
      .contentFriend__character Ш
      .contentFriend__character Щ
      .contentFriend__character Ъ
      .contentFriend__character Ы
      .contentFriend__character Ь
      .contentFriend__character Э
      .contentFriend__character Ю
      .contentFriend__character Я
      .contentFriend__character A
      .contentFriend__character B
      .contentFriend__character C
      .contentFriend__character D
      .contentFriend__character E
      .contentFriend__character F
      .contentFriend__character G
      .contentFriend__character H
      .contentFriend__character I
      .contentFriend__character J
      .contentFriend__character K
      .contentFriend__character L
      .contentFriend__character M
      .contentFriend__character N
      .contentFriend__character O
      .contentFriend__character P
      .contentFriend__character Q
      .contentFriend__character R
      .contentFriend__character S
      .contentFriend__character T
      .contentFriend__character U
      .contentFriend__character V
      .contentFriend__character W
      .contentFriend__character X
      .contentFriend__character Y
      .contentFriend__character Z  
        
block sidebar
  button.button_color_theme.sidebar__button Список друзей
  button.button_color_theme.sidebar__button  Исходящие заявки
  button.button_color_theme.sidebar__button  Входящие заявки
  button.button_color_theme.sidebar__button  Друзья по интересам
  button.button_color_theme.sidebar__button  Другие категории