extends ../layouts/person_login.pug

block site__content
  .contentProfile
    .contentProfile__basic
      .contentProfile__fon
        img(src='assets/img/fon_friend.jpg')
      .contentProfile__avatar
        img(src='assets/img/avatar.jpg')
        .contentProfile__newFoto &uarr; Обновить фото
        .contentProfile__newFotoHide &times
        .contentProfile__status Online
      .contentProfile__name Имягдеёжзийклмнопрст Фамилияжзийклмнопрст
      button.contentProfile__button.button_color_light#buttonMessage Написать сообщение
      button.contentProfile__button.button_color_light#buttonAddFriend Добавить в друзья
      button.contentProfile__button.button_color_light#buttonDelFriend Удалить из друзей
      button.contentProfile__button.button_color_light#buttonChangeCover Изменить обложку
    .row.contentProfile__info
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter День рождения:
      .col-lg-8.col-md-7.col-sm-7.col-xs-5.contentProfile__value 25 июля 1995г
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Пол:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Женский
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Родной город:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Ярославль
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Город проживания:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Ярославль
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Семейное положение:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Не замужем
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Девечья фамилия:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Фамилия
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Образование:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value ЯГПУ им.Ушинского`17
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Военная служба:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Военная служба
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Место работы:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Группа компаний "Метро" | Недвижимость Ярославля
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Политические убеждения:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Политические убеждения
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Религиозные убеждения:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Религиозные убеждения
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Любимые цитаты:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Любимые цитаты Любимые цитаты Любимые цитаты Любимые цитаты Любимые цитаты Любимые цитаты
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Бабушки, дедушки:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Бабушки, дедушки
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Родители:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Родители
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Братья, сестры:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Братья, сестры
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Муж, жена:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Муж, жена
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Дети:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Дети
      .clearfix
      .col-lg-4.col-md-5.col-sm-5.col-xs-5.contentProfile__parameter Внуки:
      .col-lg-8.col-md-7.col-sm-7.col-xs-7.contentProfile__value Внуки
      .clearfix


      
        
    
block sidebar