extends ../layouts/layout_1.pug

block site__content
  .contentQuest
    .contentQuest__circle
      .contentQuest__tit Собеседник выбран
      .contentQuest__avatarX
        img(src='assets/img/nav/1_nav.png')
      button.button_color_light.contentQuest__buttonStart Начать переписку
      button.button_color_light.contentQuest__buttonQuest Выбрать собеседника
      .contentQuest__avatarxxxWrap
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')
        .contentQuest__avatarxxx
          img(src='assets/img/nav/1_nav.png')

block sidebar