.contentProfile__button
  background: #01587a none repeat scroll 0 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0.5px #01587a;
  color: #fff
  margin-top 10px
  margin-bottom 5px
  text-align center
  +responsive(xs)
    display block
    margin-left auto
    margin-right auto
#buttonDelFriend
  color baseColor
  background  #f3ba00
  display none