.formSearchFriend__button
  height 16px
  width 16px
  position absolute
  top 0
  left 0
  cursor pointer
  border none
  outline none
  background-color lightColor
  margin-top 10px
  +responsive(340px)
    margin-top 0
  img
    width 16px
    height auto
    background lightColor