.formSearchFriend
  position relative
  width 100%
  margin-top 20px
  margin-bottom 20px
.formSearchFriend__input
  width 100%
  height 30px
  padding-left 30px
  color baseColor
  border none
  outline none
  font-size 14px
  background lightColor
.formSearchFriend__button
  height 16px
  width 16px
  position absolute
  top 2px
  left 0
  cursor pointer
  border none
  outline none
  background-color lightColor
  img
    width 16px
    height auto
    background lightColor