.content404
  height 100vh
.content404__404
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 20%
  left 50%
  color lightColor
  font-size 15vmin
  
.content404__error
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 35%
  left 50%
  font-size 2.7vmin
.content404__link
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 55%
  left 50%
  font-size 4.5vmin
  text-align center
  text-decoration underline
  &:hover, &:focus, &:active
    color themeColor
    text-decoration none
    font-weight bold
.content404__smail
  margin 0
  transform translate(-50%, -50%)
  position absolute
  top 80%
  left 50%
  img
    max-width 15vmin