nav.sidebar__register
  button.button_color_theme.sidebar__button Настройка аккаунта
  button.button_color_theme.sidebar__button Биография
  button.button_color_theme.sidebar__button Родственники
  button.button_color_theme.sidebar__button Мировоззрение