.contentTuning__error
  color crimson
  +responsive(xxs)
    margin-left -90px
    font-size 14px
#errorOldPassword
  display none
#errorNewPassword
  display none
#errorEmail
  display none
#errorEmailCode
  display none
#errorURL
  display none
#errorPhone
  display none
#errorPhoneCode
  display none
#errorLowLength
  display none