.contentTuning__change
  text-align right
  color onlineColor
  text-decoration underline
  font-style italic
  cursor pointer
  &:hover, &:focus, &:active
    color onlineColor
    text-decoration underline
    font-style italic
    font-weight bold