.contentProfile__newFoto
  position absolute
  z-index 2
  bottom 0
  left 0
  right 0
  height 35px
  background-color baseColor
  opacity .6
  color lightColor
  text-align center
  padding-top 3px
  font-size 18px
  display none