.contentFriend__surname
  position absolute
  font-weight bold
  color lightColor
  top 120px
  left 20px
  font-size 17px
  font-style italic
  text-shadow baseColor 1px 0px, baseColor 1px 1px, baseColor 0px 1px, baseColor -1px 1px, baseColor -1px 0px, baseColor -1px -1px, baseColor 0px -1px, baseColor 1px -1px