.contentRegistration__newFoto
  position absolute
  z-index 2
  left 0
  right 0
  height 35px
  background-color themeColor
  opacity .6
  color lightColor
  text-align center
  padding-top 6px
  cursor pointer
  font-weight bold