baseFont = 'Calibri', sans-serif
fontSize = 14px
baseColor = #331107
lightColor = #FCFCF2
fondColor = #FBF6CE
errorColor = #cf0029
themeColor = #331107
accentColor = #CE6B2D
onlineColor = #164D0D
siteMinWidth = 320px
siteMaxWidth = 1920px


xxs = 480px
xs = 767px
sm = 991px
md = 1199px
lg = 1680px