.formMessage__uploadButton
  width 40px
  height 40px
  position absolute
  top 0
  left 0
  z-index 1
  background accentColor
  border none
  cursor pointer
  +responsive(xxs)
    width 35px
    height 35px