.contentProfile__button
  position absolute
  bottom 10px
  width 150px
  +responsive(580px)
    bottom 0
    width 145px
  +responsive(370px) 
    width 120px
    padding-top 0
    padding-bottom 0
    height 40px
#buttonDelFriend
  display none
  right 10px
  &:hover, &:focus, &:active
    background errorColor
#buttonAddFriend 
  right 10px
#buttonMessage
  right 170px
  +responsive(370px)
    right 145px
#buttonChangeCover
  right 10px
  width 150px!important
  padding 8px!important
  display none