.contentFriend__character
  border-bottom 1px solid accentColor
  border-top 1px solid accentColor
  text-align center
  font-weight bold
  width 100%
  display inline-block
  float left
  padding 5px
  margin-bottom 5px